.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}


