* {
  font-family: 'poppins';
  font-size: 15px;
  color: slateblue;
  margin: 20px;
  
};

body {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: lightcoral;
  margin: 20px;
}

.search {
  padding: auto;
  text-align: center;
  width: 100%px;
};

.main-title {
  display: flex;
  justify-content: center;
  margin-left: 700px;
}

.main-submit {
  width: 200px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.left-Box {
  float: left;
  height: 550px;
  width: 600px;
  background-color: antiquewhite;
}

.Right-Box {
  width: 600px;
  background-color: antiquewhite;
}

footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 975px) {
  .Right-Box {
    width: 100%;
  }
  .left-Box {
    width: 100%;
  }
};

@media screen and (max-width: 668px) {
  .main-submit {
    padding-top: 25px;
    margin: 25px;
  }

  .search {
    width: 100%;
    padding-bottom: 25px;
  }

  .copyright {
    display:block;
  }
};

