* {
  
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}

#plane {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.header {
  
}
